/*THIS FILE IS NEEDED FOR THE PASSWORD HOVER MESSAGE POPUP TO SHOW*/


.hover-container {
    position: relative;
    display: flex;
    place-content: center;
}

/* styling of the tooltip display */
p#pwd-hover-text {
    display: none;
    position: absolute;
    bottom: -500%;
    width: 100%;
    /*left: 105%;*/
    z-index: 1;
    background: red;
    padding: 8px;
    font-size: 1rem;
    color: black;
    border-radius: 10px;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}