h1 {font-family: 'Times New Roman'; color:rgb(7, 70, 33);}
body {font-family:'Times New Roman'; background-color: rgb(7, 70, 33);}

.page-title{
    text-align: center;
}

.central-sheet{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
	height: 85vh; /* vh stands for viewport units */
    
    background-color:blanchedalmond;
    width: 90%;
}

.col{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.info-table{
    margin-left: auto;
    margin-right: auto;
}

.textInput {
    border-radius: 5px;
}